- bibapp_cache(:controller => 'shared', :action => 'partial', :action_suffix => 'footer') do
  #footer.col-xs-12.text-left
    - if logged_in?
      = 'Logged in.'
    - else 
      %span #{link_to "#{t('app.login')}" , login_path(:return_to => request.fullpath), class: "btn btn-primary btn-xs" }
      -# .col-xs-12
        -# %p
          -# %strong
            -# %a{:href => $UNIVERSITY_URL}= t('personalize.university_full_name')
            -# |
            -# %a{:href => $LIBRARY_URL}= t('personalize.library_name')
          -# %br/
          -# = t('personalize.university_full_address').html_safe
          -# %br/
          -# #{t 'shared.footer.powered_by'}
          -# %strong
            -# =link_to "BibApp", "http://bibapp.org/"

