.col-xs-5.last
  #picture.col-xs-2
    %p= render "shared/person_image", :o => @person

  %div.col-xs-9.col-xs-offset-1
    %h3 #{Group.model_name.human_pl} (#{@person.groups.size})
    %ol.groups_alphabetical
      - @person.groups.each do |g|
        %li=link_to "#{g.name}", group_path(g)
